.container {
  position: relative;
  width: 100%;
}

.carouselWrapper {
  position: absolute;
  width: 100%;
}
.carousel {
  overflow-y: visible;
  overflow-x: clip;
}
.carouselHasRightArrow {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 75%,
    transparent
  );
}
.carouselHasLeftArrow {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1)
  );
}
.carouselHasHothArrows {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 75%,
    transparent
  );
}
.carouselContent {
  white-space: nowrap;
  transition: transform 150ms linear;
  display: inline-flex;
}

.item {
  display: inline-flex;
  margin: 0 20px 0 0;
  padding: 5px;
}

.arrowButton {
  position: absolute !important;
  right: -20px !important;
  top: 50% !important;
  height: 40px !important;
  width: 40px !important;
  min-width: 0 !important;
  border-radius: 50% !important;
  transform: translateY(-50%) !important;
  z-index: 2;
}

.arrowButtonPrevious {
  right: none !important;
  left: -20px !important;
}

.gradient {
  position: absolute;
  background-image: linear-gradient(
    270deg,
    var(--theme-bg) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: scaleX(-1);
  z-index: 1;
  width: 150px;
  pointer-events: none;
  top: -5px;
  bottom: -5px;
}

.startGradient {
  left: -50px;
}

.endGradient {
  top: 0;
  right: -50px;
  transform: scaleX(1);
}
